.table-rwd.game-platform-table
  %table.table.table-valign-middle
    %thead.bordered
      %tr.warning
        %th.center{width: 200}= t('.game_platform')
        %th.center{width: 200}= t('.status')
        %th.center= t('.action')
    %tbody
      - @config.each do |config|
        %tr{id: ('platform' + config.id.to_s)}
          %td.center{data: {th: t('.game_platform')}}= config.human_platform_name
          %td.center.status{data: {th: t('.status')}}
            %span{class: "label label-#{config.status}"}
              = t(".game_platforms.status.#{config.status}")
          %td.center{data: {th: t('.action')}}
            = link_to(t('.game_platforms.status.open'), system_game_platform_path(id: config.id, status: 1, format: :js), method: :put, remote: true, class: "btn btn-xs status-option status-open "+ (config.open? ? 'hidden' : ''), data: {confirm: t('.confirm.open', game_platform: config.human_platform_name)})
            = link_to(t('.game_platforms.status.maintain'), system_game_platform_path(id: config.id, status: 2, format: :js), method: :put, remote: true, class: 'btn btn-xs status-option status-maintain '+ (config.maintain? ? 'hidden' : ''), data: {confirm: t('.confirm.maintain', game_platform: config.human_platform_name)})
            = link_to(t('.game_platforms.status.close'), system_game_platform_path(id: config.id, status: 0, format: :js), method: :put, remote: true, class: 'btn btn-xs status-option status-close '+ (config.close? ? 'hidden' : ''), data: {confirm: t('.confirm.close', game_platform: config.human_platform_name)})