= search_form(:query, params[:query], placeholder: t('.search_placeholder'))
.pull-right= link_to(t('.add_messages'), new_message_path, class: 'btn btn-default')
.clearfix
.push-xs
.table-rwd
  %table.table.table-valign-middle
    %thead
      %tr.success
        %th= t('.title')
        - if false
          %th.center{width: 250}= t('.agent_username')
        %th.center{width: 200}= t('.groups')
        %th.center{width: 130}= t('.username')
        %th.right{width: 200}= t('.time')
        %th{width: 100}
    %tbody
      - if @messages.empty?
        %tr
          %td{colspan: 5}= t('shared.no_data')
      - @messages.each do |message|
        %tr
          %td{data: {th: t('.title')}}= link_to(message.title, edit_message_path(message), class: 'font-gary')
          - if false
            %td.center{data: {th: t('.agent_username')}}
              - if message.agent.present?
                = link_to("#{message.agent.username} (#{message.agent.title})", message.agent, class: 'font-gary')
              - else
                \--
          %td.center{data: {th: t('.group_names')}}
            - if message.group_names.present?
              = message.group_names.split(",").join(", ")
            - else
              \--
          %td.center{data: {th: t('.username')}}
            - if message.user.present?
              = link_to(message.user.title, message.user, class: 'font-gary')
            - else
              \--
          %td.right{data: {th: t('.time')}}= default_log_time(message.created_at)
          %td.right
            = link_to(t('.edit'), edit_message_path(message), class: 'btn btn-default btn-xs')
            = link_to(t('.remove'), message_path(message), method: :delete, class: 'btn btn-danger btn-xs', data: {confirm: t('.confirm.remove')})
= will_paginate(@messages)