= render_cell :withdraws, :filter_form, user: @user, begin_date: @begin_date, end_date: @end_date
%hr
.push-sm
= render_cell :withdraws, :user_withdraw_list, user: @user, begin_date: @begin_date, end_date: @end_date