.row
  .col-md-12
    = bootstrap_form_for([:game, @machine]) do |f|
      .row
        .col-md-12
          .panel.panel-info
            .panel-heading
              = t('.setting')
            .panel-body
              = f.number_field :lose_rate, step: 0.01
              = f.text_field :version
      = f.form_group do
        = f.submit t('btn.save')