.table-responsive{data: {pattern: "priority-columns"}}
  %table.table.table-valign-middle.table-font-sm
    %thead
      %tr.success
        %th.center{width: 30, data: {priority: '3'}} #
        %th{width: 130}= t('.racing_game')
        %th.right{width: 50, data: {priority: '3'}}= t('.no1')
        %th.right{width: 50, data: {priority: '3'}}= t('.no2')
        %th.right{width: 50, data: {priority: '3'}}= t('.no3')
        %th.right{width: 100}= t('.bet_total_credit')
        %th.right{width: 50}= t('.total_bet_count')
        %th.right{width: 100}= t('.company_win_amount')
        %th.center{width: 100, data: {priority: '3'}}= t('.start_receive_bet_form_time')
        %th.center{width: 100, data: {priority: '6'}}= t('.end_time')
        %th.center{width: 60}
    %tbody
      - if @racing_schedules.empty?
        %tr
          %td{colspan: 6}= t('shared.no_data')
    = render partial: 'racing_schedule', collection: @racing_schedules
= will_paginate(@racing_schedules)
