= link_to(activity.trackable.title, machine_path(activity.trackable, format: :js), method: :get, remote: :true, class: 'font-gary')
= t('.cashout')
(
- if activity.parameters[:credit] == 0
  %span.font-gary= default_currency(activity.parameters[:credit].to_f)
- else
  %span.font-lose
    \-
    = default_currency(activity.parameters[:credit].to_f)
)
