.alert.alert-warning= "#{@begin_date} ~ #{@end_date}"
.table-rwd
  %table.table.table-valign-middle.table-font-sm
    %thead
      %tr.success
        %th{width: 100}= t('.id')
        %th{width: 100}= t('.player')
        %th.center{width: 80}= t('.cash_type')
        %th.center{width: 80}= t('.type')
        %th.center{width: 80}= t('.currency')
        %th.right{width: 100}= t('.credit')
        %th.right{width: 100}= t('.credit_diff')
        %th.center{width: 100}= t('.status')
        %th.center{width: 100}= t('.amount')
        %th.right{width: 100}= t('.credit_actual')
        %th.right{width: 200}= t('.updated_at')
      %tbody
      - if @details.empty?
        %tr
          %td{colspan: 8}= t('shared.no_data')
      = render partial: 'reports/users/detail', collection: @details, locals: {type: @type}
      - if @details.current_page == @details.total_pages
        %tfoot
          %tr.warning
            %td= t('.total')
            %td.right{colspan: 5}= default_currency(@sum[:deposit][:credit] - @sum[:cashout][:credit])
            %td.right= default_currency(@sum[:deposit][:credit_diff] - @sum[:cashout][:credit_diff])
            %td
            %td.right= default_currency(@sum[:deposit][:amount] - @sum[:cashout][:amount])
            %td.right= default_currency(@sum[:deposit][:credit_actual] - @sum[:cashout][:credit_actual])
            %td
= will_paginate(@details)