.row
  .col-md-12
    = bootstrap_form_for([:game, @machine]) do |f|
      .row
        .col-md-12
          .panel.panel-info
            .panel-heading
              = t('.setting')
            .panel-body
              = f.static_control :game_name do
                %strong.font-warning= "#{@machine.human_game_name} (#{@machine.game_model_name})"
              = f.number_field :win_speed, help: '0 ~ 100', autofocus: true
              = f.text_field :version
            .push-s
      .row
        - @cycle_sizes.each do |size|
          .col-md-4
            .panel.panel-default
              .panel-heading
                = t('.cycle', size: size)
              .panel-body
                = f.number_field "lose_rate_#{size}", step: 0.01
                = f.number_field "lose_trigger_amount_#{size}"
                = f.number_field "max_mutiple_#{size}", step: 0.1
      = f.form_group do
        = f.submit t('btn.save')