.row
  .col-md-8.col-md-offset-2
    %h2= t('.title')
    = bootstrap_form_for(resource, url: admin_registration_path) do |f|
      = f.static_control :username do
        %strong.font-danger= resource.username
      = f.password_field :password, autocomplete: 'off', help: t('shared.password_tips.keep_blank'), autofocus: true
      = f.password_field :password_confirmation, autocomplete: 'off'
      = f.password_field :current_password, required: true, help: t('shared.password_tips.old_password')
      = f.submit t('btn.save'), class: 'btn btn-success'