.report_overview
  .users
    .well
      color: #5699c0
      background: #f1f1f1
  .bets
    .well
      color: #FFF
      background: #5699c0
  .losewin
    .well
      color: #FFF
      background: #7266ba
  .deposit
    .well
      color: #FFF
      background: #20B890
  .cashout
    .well
      color: #FFF
      background: #D36CA4