(function(){
  $destroyConfirm = $("<%=j render('destroy_confirm') %>");
  if ($('#destroy_confirm').size() > 0) {
    $('#destroy_confirm').html($destroyConfirm.html());
  } else {
    $('body').append($destroyConfirm);
  }
  $('#destroy_confirm').modal();
})();
