.table-rwd
  %table.table.table-valign-middle
    %thead
      %tr.success
        %th{width: 40} #
        %th.center{width: 50}= t('.type')
        %th{width: 80}= t('.username')
        %th{width: 80}= t('.name')
        %th{width: 80}= t('.nickname')
        %th{width: 50}= t('.mobile')
        %th{width: 100}= t('.qq')
        %th{width: 100}= t('.email')
        %th.center{width: 50}
        %th.center{width: 50}
    %tbody
      - if @agents.empty?
        %tr
          %td{colspan: 9}= t('shared.no_data')
      = render partial: 'agent/applies/agent', collection: @agents
= will_paginate(@agents)
