// font-colors
.font-success
  color: darken($brand-success, 10%)
.font-warning
  color: darken($brand-warning, 30%)
.font-danger
  color: $brand-danger
.font-info
  color: darken($brand-info, 30%)
.font-primary
  color: darken($brand-primary, 30%)
.font-gary
  color: #444
.font-white
  color: #FFF
.font-white:hover
  color: #BBB

.font-disable
  color: #888

.font-enable
  color: #36A173

.font-disable-light
  color: #BBB

// font-currency
.font-win
  color: #000
.font-lose
  color: #000

.font-on
  color: #16910C
.font-off
  color: #999

// font-sizes
.font-xs
  font-size: 10px
.font-sm
  font-size: 14px
.font-md
  font-size: 18px
.font-lg
  font-size: 24px
.font-xl
  font-size: 32px
.font-xxl
  font-size: 40px
.font-xxxl
  font-size: 60px

// font-aligns
.center
  text-align: center !important
.left
  text-align: left !important
.right
  text-align: right !important

h1
  font-size: 36px !important