.table-valign-middle
  vertical-align: middle !important
  td, th, tr
    vertical-align: middle !important

.table
  margin-bottom: 0px

.table-font-sm
  td, th
    font-size: 12px
    padding: 2px 4px !important

.table-events
  width: auto
  .team-home
    color: darken($brand-success, 10%)
  .team-guest
    color: darken($brand-info, 10%)
  .column
    padding: 0
    vertical-align: top !important
    .block
      padding: 8px 8px 4px 8px
    .draw
      padding-top: 4px
      border-top: 1px solid #ccc
    .price
      text-align: right
      block: inline-block
      color: $brand-primary
      cursor: pointer
      &:hover
        color: darken($brand-primary, 20%)

.table-rwd
  display: block
  width: 100%
  overflow-x: auto
  tr
    color: #343434
  table
    // 手機版
    @media (max-width: $screen-md-max)
      background: #fff
      min-width: 100%
      overflow: hidden
      tr:nth-of-type(2n)
        background: #eee
      th, td
        margin: 0.5em 1em
      th
        display: none
      td
        text-align: left !important
        display: block
        &:before
          content: attr(data-th)
          font-weight: bold
          width: 120px
          display: inline-block
      th, td:before
        font-weight: bold
    // 網頁版
    @media (min-width: $screen-md-min)
      border: 1px solid #dddddd
      thead.bordered
        th
          border: 1px solid #dddddd
      td
        &:before
          display: none
      th, td
        display: table-cell

.table-style
  > tbody
    > tr
      /* 虛擬幣類框無padding無線 */
      > td:nth-child(2),>td:nth-child(3)
        padding: 0 !important
        border: none !important  	
      /* 單一表格值名稱置中 */
      > td:nth-child(1),>td:nth-child(4),>td:nth-child(5),>td:nth-last-child(1)
        vertical-align: middle
        font-size: 13px
      /* 虛擬幣名稱靠左與減少縮牌 */
      > td:nth-child(2), >td:nth-child(3)
        tbody
          td
            text-align: left
            padding: 2px 8px
            font-size: 13px
      >td:nth-child(2),>td:nth-child(3)
        thead
          th
            text-align: left
            padding: 2px 8px
            font-size: 13px
  >tfoot
    font-weight: bold
    font-size: 13px