= render 'common/date_search_bar'
.row
  .col-md-3
    %h5= t('.total_valid_amount')
    %h4
      .font-lose
        - if @total_valid_amount.nil?
          0
        - else
          = default_currency(@total_valid_amount)
.push-xs
.table-rwd
  %table.table.table-valign-middle
    %thead
      %tr.success
        %th.center= t('.from_platform')
        %th.center= t('.to_platform')
        %th.center= t('.action')
        %th.center= t('.credit')
        %th.center= t('.extra_deposit')
        %th.center= t('.credit_actual')
        %th.center= t('.before_balance')
        %th.center= t('.after_balance')
        %th.center= t('.time')
        %th.center= t('.details')
      %tbody
      - if @logs.empty?
        %tr
          %td{colspan: 8}= t('shared.no_data')
      - @logs.each do |log|
        %tr
          - form, to, action = transfer_credit_from_and_to_and_action(log)
          %td.center{data: {th: t('.from_platform')}}= form
          %td.center{data: {th: t('.to_platform')}}= to
          %td.center{data: {th: t('.action')}}= action
          - if log.parameters.key?(:type) && log.parameters[:type] == 22
            %td.center{data: {th: t('.credit')}}
              = default_currency(0.00)
            %td.center{data: {th: t('.extra_deposit')}}
              - if log.parameters.key?(:extra_deposit)
                = default_currency(log.parameters[:credit].to_f - log.parameters[:extra_deposit].to_f)
              - else
                = default_currency(log.parameters[:credit].to_f)
          - else
            %td.center{data: {th: t('.credit')}}
              - if log.parameters.key?(:extra_deposit)
                = default_currency(log.parameters[:credit].to_f - log.parameters[:extra_deposit].to_f)
              - else
                = default_currency(log.parameters[:credit].to_f)
            %td.center{data: {th: t('.extra_deposit')}}
              - if log.parameters.key?(:extra_deposit)
                = default_currency(log.parameters[:extra_deposit])
              - else
                = default_currency(0.00)
          %td.center{data: {th: t('.credit')}}= default_currency(log.parameters[:credit])
          %td.center{data: {th: t('.before_balance')}}
            - if log.parameters[:before_balance] == -1
              = t('.unusual')
            - else
              = default_currency(log.parameters[:before_balance])
          %td.center{data: {th: t('.after_balance')}}
            - if log.parameters[:after_balance] == -1
              = t('.unusual')
            - else
              = default_currency(log.parameters[:after_balance])
          %td.center{data: {th: t('.time')}}= default_log_time(log.created_at)
          %td.center{data: {th: t('.details')}}
            - if log.parameters.key?(:cash_type).present?
              - if log.parameters[:cash_type] == 0
                - case log.parameters.key?(:type)
                - when log.parameters[:type] == 15
                  = link_to(t('.details'), withdraw_deposit_path(id: log.parameters[:withdraw_id]), class: 'font-gary')
                - when log.parameters[:type] == 22
                  = link_to(t('.details'), withdraw_deposit_path(id: log.parameters[:withdraw_id]), class: 'font-gary')
              - else 
                - case log.parameters.key?(:type)
                - when log.parameters[:type] == 15
                  = link_to(t('.details'), withdraw_cashout_path(id: log.parameters[:withdraw_id]), class: 'font-gary')
                - when log.parameters[:type] == 22
                  = link_to(t('.details'), withdraw_cashout_path(id: log.parameters[:withdraw_id]), class: 'font-gary')
            - else
              - case log.key
              - when "user.deposit"
                = link_to(t('.details'), withdraw_deposit_path(id: log.parameters[:withdraw_id]), class: 'font-gary')
              - when "user.apply_cashout"
                = link_to(t('.details'), withdraw_path(id: log.parameters[:withdraw_id], type: "cashout"), class: 'font-gary')
              - when "user.cashout"
                = link_to(t('.details'), withdraw_path(id: log.parameters[:withdraw_id], type: "cashout"), class: 'font-gary')
= will_paginate(@logs)