#game_result.modal.modal-map.fade{tabindex: -1,role: 'dialog', class: 'modal-enter-close game_result', aria: {labelledby: 'modal', hidden: 'true'}}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{data: {dismiss: 'modal'}}
          .fa.fa-times
        %h4.modal-title= t('histories_game_column.game_result')
      .modal-body
        %table.center
          -if %w(111 112 113 114 115).include? game_data[:game_kind]
            %tr
              %th.center.font-md= t('histories_game_column.banker')
              %th.center.font-md= t('histories_game_column.player')
            %tr
              %td
                - game_data[:banker_pokers].each do |poker|
                  -if poker != ""
                    = image_tag("pokers/#{poker}.png")
                .font-md= game_data[:banker_point]
              %td
                - game_data[:player_pokers].each do |poker|
                  -if poker != ""
                    = image_tag("pokers/#{poker}.png")
                .font-md= game_data[:player_point]

          -if game_data[:game_kind] == "211"
            %tr
              %th.center.font-md= t('histories_game_column.dragon')
              %th.center.font-md= t('histories_game_column.tiger')
            %tr
              %td
                = image_tag("pokers/#{game_data[:dragon_poker]}.png")
                .font-md= game_data[:dragon_point]
              %td
                = image_tag("pokers/#{game_data[:tiger_poker]}.png")
                .font-md= game_data[:tiger_point]
          -if game_data[:game_kind] == "411"
            - game_data[:dices].each do |dice|
              = image_tag("dices/dice_0#{dice}.png")

          -if game_data[:game_kind] == "611"
            %span.font-xl= game_data[:point]

          -if game_data[:game_kind] == "311"
            %span.font-xl= game_data[:point]


      .modal-footer
        = link_to(t('btn.close'), '' ,class: 'btn btn-success run-and-close-modal', data: {dismiss: 'modal'})
