(function(){
  // console.log("<%=j @account.to_yaml%>");
  $("#cumulative_amount").remove();
  $cumulative_amount = $("<%=j render('cash_flow/bank_accounts/cumulative_amount', account: @account) %>");

  $('body').append($cumulative_amount);
  $('#cumulative_amount').modal();
})();
