%ul.nav.navbar-nav
  - if policy(:user).all?
    %li.dropdown
      = link_to(void_link, class: 'dropdown-toggle', 'data-toggle' => 'dropdown') do
        = t('common.menu.users')
        .fa.fa-caret-down
      %ul.dropdown-menu
        %li= link_to(t('common.menu.user.list'), users_path)
        %li= link_to(t('common.menu.user.logs'), logs_users_path) if policy(:user).log?
        %li= link_to(t('common.menu.user.new'), new_agent_user_path(agent_id: 3)) if policy(:user).new?
        %li= link_to(t('common.menu.user.groups'), user_groups_path) if policy(:user).group?
  - if policy(:machine).all?
    %li.dropdown
      = link_to(void_link, class: 'dropdown-toggle', 'data-toggle' => 'dropdown') do
        = t('common.menu.machines')
        .fa.fa-caret-down
      %ul.dropdown-menu
        %li= link_to(t('common.menu.machine.list'), machines_path)
        %li= link_to(t('common.menu.machine.logs'), logs_machines_path)
  - if policy(:agent).all?
    %li.dropdown
      = link_to(void_link, class: 'dropdown-toggle', 'data-toggle' => 'dropdown') do
        = t('common.menu.agents')
        .fa.fa-caret-down
      %ul.dropdown-menu
        %li= link_to(t('common.menu.agent.all'), agents_path, class: 'title sub_item')
        - enum_option_pairs(Agent, :agent_levels).each do |level, agent_level|
          %li= link_to(level, agent_levels_path(agent_level: agent_level), class: 'title sub_item')
        - if policy(:agent).advanced?
          %li.divider
          %li= link_to(t('common.menu.agent.apply'), agent_applies_path)
          %li= link_to(t('common.menu.agent.cash_types'), agent_cash_types_path)
          %li= link_to(t('common.menu.agent.commission_logs'), agent_commission_logs_path)
  - if policy(:withdraw).all? && Setting.cash_site?
    %li.dropdown
      = link_to(void_link, class: 'dropdown-toggle', 'data-toggle' => 'dropdown') do
        = t('common.menu.withdraws')
        .fa.fa-caret-down
      %ul.dropdown-menu
        %li= link_to(t('common.menu.withdraw.deposits'), new_withdraw_deposit_path) if policy(:withdraw).deposit?
        %li= link_to(t('common.menu.withdraw.cashouts'), new_withdraw_cashout_path) if policy(:withdraw).cashout?
        %li= link_to(t('common.menu.withdraw.cash_in'), withdraws_path(type: 'deposit'))
        %li= link_to(t('common.menu.withdraw.withdraws'), withdraws_path(type: 'cashout')) if false
        %li= link_to(t('common.menu.withdraw.digital_currency'), withdraws_path(type: 'cashout', view_page: 'digital_currency'))
        %li= link_to(t('common.menu.withdraw.logs'), logs_withdraws_path)
        - if policy(:withdraw).agent?
          %li.divider
          %li= link_to(t('common.menu.withdraw.bank_account'), cash_flow_bank_accounts_path) if policy(:withdraw).cash_flow?
          %li= link_to(t('common.menu.withdraw.agent.deposits'), new_withdraw_agent_deposit_path) if policy(:withdraw).agent_deposits?
          %li= link_to(t('common.menu.withdraw.agent.cashouts'), new_withdraw_agent_cashout_path) if policy(:withdraw).agent_cashouts?
          %li= link_to(t('common.menu.withdraw.agent.logs'), withdraw_agent_withdraws_path) if policy(:withdraw).agent_withdraw?
  - if policy(:finance).all? || policy(:history).all?
    %li.dropdown
      = link_to(void_link, class: 'dropdown-toggle', 'data-toggle' => 'dropdown') do
        = t('common.menu.report')
        .fa.fa-caret-down
      %ul.dropdown-menu
        %li= link_to(t('common.menu.finances'), finances_path, class: 'title sub_item') if policy(:finance).finances?
        %li= link_to(t('common.menu.reports.users'), reports_users_path, class: 'title sub_item') if policy(:report).all?
        %li= link_to(t('common.menu.histories_slots'), histories_game_index_path, class: 'title sub_item') if policy(:history).all?
  - if policy(:game).all?
    %li.dropdown
      = link_to(void_link, class: 'dropdown-toggle', 'data-toggle' => 'dropdown') do
        = t('common.menu.games')
        .fa.fa-caret-down
      %ul.dropdown-menu
        %li= link_to(t('common.menu.schedules'), schedules_racings_path, class: 'title sub_item') if policy(:schedule).all?
        - game_setting_paths.each do |game_name, path|
          %li= link_to(t("common.menu.setting.#{game_name}"), path, class: 'title sub_item')
  - if policy(:news).all?
    %li.dropdown
      = link_to(void_link, class: 'dropdown-toggle', 'data-toggle' => 'dropdown') do
        = t('common.menu.news_and_messages')
        .fa.fa-caret-down
      %ul.dropdown-menu
        %li= link_to(t('common.menu.news.index'), news_index_path, class: 'title sub_item')
        %li= link_to(t('common.menu.messages.index'), messages_path, class: 'title sub_item')
        %li= link_to(t('common.menu.news.list'), list_news_index_path, class: 'title sub_item')
        %li= link_to(t('common.menu.marquee.index'), marquees_path, class: 'title sub_item')
