%nav#header.navbar.navbar-default.navbar-fixed-top{role: "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{ type: 'button', data: {target: '#menu-navigation', toggle: 'collapse'} }
        %span.sr-only Open Menu
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .navbar-brand= link_to("#{Setting.title} #{t('.platform')}", root_path)
    #menu-navigation.collapse.navbar-collapse
      = render_cell :common, :menu
      %ul#nav-user.nav.navbar-nav.navbar-right
        - if policy(:system).all?
          %li.dropdown
            = link_to(void_link, class: 'dropdown-toggle', 'data-toggle' => 'dropdown') do
              = t('.system')
              .fa.fa-caret-down
            %ul.dropdown-menu
              %li= link_to(t('.site_config'), edit_system_site_config_path)
              %li= link_to(t('.game_platform'), edit_system_game_platform_path)
              %li= link_to(t('.platform_game'), system_platform_games_path)
              %li= link_to(t('.hot_games'), edit_system_hot_game_path)
              %li= link_to(t('.static_pages'), system_pages_path) if policy(:'system/page').all?
              %li= link_to(t('.admins'), system_admins_path) if policy(:'system/admin').all?
              %li= link_to(t('.global_logs'), system_logs_path) if policy(:'system/log').all?
        %li#lang-menu.dropdown{ lang: I18n.locale }
          %a{ href: void_link, 'data-toggle' => 'dropdown' }
            %span.current-lang-box
            %i.fa.fa-caret-down
          %ul.dropdown-menu
            %li= link_to('繁體中文', { locale: 'zh-TW' }, class: 'lang-zh-TW')
            %li= link_to('简体中文', { locale: 'zh-CN' }, class: 'lang-zh-CN')
            %li= link_to('English', { locale: :en }, class: 'lang-en')
        %li= link_to(current_admin.username, edit_admin_registration_path)
        %li
          = link_to(destroy_admin_session_path, method: :delete, confirm: t('confirm.logout')) do
            .fa.fa-sign-out
            = t('.logout')