= render('withdraws/filter_bar', type: @type, view_page: 'digital_currency')
-if @type == 'cashout'
  .alert.alert-warning= t('.warning_text')
.table-rwd
  %table.table.table-valign-middle.table-font-sm
    %thead
      %tr.success
        %th{width: 60}= t('.id')
        %th{width: 30}= t('.lobby_id')
        %th.right{width: 50}= t('.credit')
        %th.right{width: 100}= t('.amount')
        %th.right{width: 130}= t('.datetime')
        %th.center{width: 80}= t('.status')
        %th.center{width: 60}
        %th.center{width: 50}
        %th.center{width: 30}
    %tbody
      - if @withdraws.empty?
        %tr
          %td{colspan: 10}= t('shared.no_data')
      = render partial: 'withdraws/digital_currency', collection: @withdraws, locals: {type: @type}
= will_paginate(@withdraws)
