.row
  .col-xs-9
    - all_css_class = !params[:language] ? 'btn-primary' : 'btn-default'
    = link_to(t("all"),marquees_path, class: "btn #{all_css_class}")
    - t("languages").keys.each do |lang|
      - css_class = params[:language].eql?(lang.to_s) ? 'btn-primary' : 'btn-default'
      = link_to(t("languages.#{lang}"),marquees_path(language: lang), class: "btn #{css_class}" )
  - if params[:language]
    .col-xs-1= link_to(t('.reset_order'),"", id: 'reset_order', class: 'btn btn-default pull-right')
    .col-xs-1= link_to(t('.save_order'), update_orders_marquees_path, id: 'send-ajax', class: 'btn btn-default pull-right')
  - else
    .col-xs-2
  .col-xs-1= link_to(t('.add_marquee'), new_marquee_path, class: 'btn btn-default pull-right')
-# .pull-right= link_to(t('.add_marquee'), new_marquee_path, class: 'btn btn-default')
-# .pull-right= link_to(t('.save_order'),update_orders_marquees_path, id: 'send-ajax', class: 'btn btn-default')
.clearfix
.push-xs
.table-rwd
  %table.table.table-valign-middle
    %thead
      %tr.success
        - if params[:language]
          %th= t('.order')
        %th= t('.title')
        %th.center= t('.every_week')
        %th.center= t('.is_expired')
        %th.center= t('.active')
        - if !params[:language]
          %th.center= t('.language')
        %th{width: 120}
    %tbody{:id => ("list" unless !params[:language]) }
      - if @marquee.empty?
        %tr
          %td{colspan: 7}= t('shared.no_data')
      - @marquee.each do |marquee|
        %tr(class="item" id="#{marquee.id}")
          - if params[:language]
            %td
              %span{class: 'ui-icon ui-icon-arrowthick-2-n-s'}
          %td{data: {th: t('.title')}}= link_to(marquee.title, edit_marquee_path(marquee), class: 'font-gary')
          - if marquee.eveny_week
            %td.center{data: {th: t('.every_week')}}= marquee.days.map(&:inspect).join(', ').gsub("\"","")
          - else
            %td.center{data: {th: t('.every_week')}}="-"
          - if marquee.by_time
            - if marquee.is_expired
              %td.center{data: {th: t('.is_expired')}}= t(".expired")
            - else
              %td.center{data: {th: t('.is_expired')}}= t(".not_expired")
          - else
            %td.center{data: {th: t('.is_expired')}}="-"
          %td.center.enable{data: {th: t('.active')}}=icon_check(marquee, :active?, true)
          - if !params[:language]
            %td.center{data: {th: t('.language')}}= marquee.language
          %td.right
            = link_to(t('.edit'), edit_marquee_path(marquee), class: 'btn btn-default btn-xs')
            = link_to(t('.remove'), marquee_path(marquee), method: :delete, class: 'btn btn-danger btn-xs', data: {confirm: t('.confirm.remove')})
= will_paginate(@marquee)

%script{:src=>"https://cdn.jsdelivr.net/npm/sortablejs@1.6.1/Sortable.min.js"}
:javascript
    $(document).ready( function() {
    var el = document.getElementById( "list" );
    if(!el)
      return;

    var old_list = get_order_list();
    Sortable.create(el, {
      // 參數設定[註1]
      disabled: false, // 關閉Sortable
      animation: 150,  // 物件移動時間(單位:毫秒)
      handle: ".table",  // 可拖曳的區域
      filter: ".ignore",  // 過濾器，不能拖曳的物件
      preventOnFilter: true, // 當過濾器啟動的時候，觸發event.preventDefault()
      draggable: ".item",  // 可拖曳的物件
      ghostClass: "sortable-ghost",  // 拖曳時，給予物件的類別
      chosenClass: "sortable-chosen",  // 選定時，給予物件的類別
      forceFallback: false  // 忽略HTML5 DnD
    ,
    onSort: function(evt){ 
       chack_diff();
    }
    });
    function get_order_list(){
      var res = [];
      for (let index = 0; index < el.children.length; index++) {
          const element = el.children[index];
          res.push ({id: element.id,order: index})
      }
      return res;
    }
    function get_update_list(){
      var res = [];
      for (let index = 0; index < el.children.length; index++) {
          if(el.children[index].id != old_list[index].id){
            res.push({id: el.children[index].id,order: index});
          }
      }
      return res;
    }
    function chack_diff(){
      var update_list = get_update_list();
      if(update_list.length>0){
        $('#send-ajax').css("background-color", "red");
      }else{
        $('#send-ajax').css("background-color", "");
      }
    }
    $('#reset_order').on('click', function (e) {
      e.preventDefault();
      $("#list").children().each(function(index) {
        $('#list').append($('#'+old_list[index].id))
      });
      chack_diff();
    })
    $('#send-ajax').on('click', function (e) {
      e.preventDefault(); 
      var data = {};
      data.data = get_update_list();
      if(data.data.length == 0)
        return;
      var output = JSON.stringify(data)
      console.log(output);
      $.ajax({
        url: $(this).attr("href"),
        type: 'POST',
        dataType: 'json', // 希望 server 回傳的資料類型
        contentType: 'application/json', // 指定傳送到 server 的資料類型
        data: output
      }).done(function( data ) {
          location.reload();
      });
    }); 
  });