(function(){
  $bonuseForm = $("<%=j render('bonuse_form') %>");
  if ($('#bonuse').size() > 0) {
    $('#bonuse').html($bonuseForm.html());
  } else {
    $('body').append($bonuseForm);
  }
  $('#bonuse').modal();
})();
