.table-rwd
  %table.table
    %thead
      %tr.success
        %th= t('.title')
        %th{width: 400}= t('.link')
        %th{width: 100}= t('.actions')
    %tbody
      - if @pages.empty?
        %tr
          %td{colspan: 6}= t('shared.no_data')
      - @pages.each do |page|
        - cache [page, I18n.locale] do
          %tr
            %td{data: {th: t('.link')}}= page.title
            %td{data: {th: t('.actions')}}= static_page_url(page)
            %td.center
              = link_to(t('btn.view'), static_page_url(page), class: 'btn btn-xs btn-default', target: :_blank)
              = link_to(t('btn.edit'), edit_system_page_path(page), class: 'btn btn-xs btn-default')