(function(){
  <% if @status %>
    if (window.location.pathname.split('/')[1] == 'users' || window.location.pathname.split('/')[1] == 'agents'){
      $('#user_user_group_id').append('<option value="<%= @group.id %>"><%= @group.name %></option>').val('<%= @group.id %>');
      $('#userGroup').modal('hide');
    }else{
      location.reload()
    }
  <% else %>
    $userGroupForm = $("<%=j render('group_form') %>")
    $('#userGroup').html($userGroupForm.html());
  <% end %>
})();