= render 'game/setting_menu'
= render 'game/little_mary/setting_menu'
.row
  .col-md-3
    .panel.panel-info
      .panel-heading= t('.primary_jackpot')
      %ul.list-group
        %li.list-group-item
          %h4.list-group-item-heading= t('.primary_max')
          %p.list-group-item-text= @little_mary_settings.jackpot_primary_max
        %li.list-group-item
          %h4.list-group-item-heading= t('.accumulate_rate')
          %p.list-group-item-text
            .font-danger= @little_mary_settings.jackpot_accumulate_rate
  .col-md-3
    = link_to(t('btn.edit'), edit_game_little_mary_jackpot_path, class: 'btn btn-lg btn-default btn-block')