.panel.panel-info
  .panel-heading
    %h3.panel-title
      = t('.title')
      - if policy(:system).all?
        = link_to(edit_system_site_config_path, class: 'pull-right') do
          .fa.fa-edit
          = t('btn.edit')
  .panel-body
    .col-md-6
      - if Setting.shop_site?
        %h4
          = @site_config.lobby_power_light
          = t('.lobby')
        = t('.marquee')
        %span= auto_link(@site_config.short_lobby_marquee, html: {target: '_blank'})
      - if Setting.cash_site?
        %h4
          = @site_config.cash_power_light
          = t('.cash')
        = t('.marquee')
        %span= auto_link(@site_config.short_cash_marquee, html: {target: '_blank'})
    .col-md-6
      %h4
        = @site_config.agent_power_light
        = t('.agent')
      = t('.marquee')
      %span= auto_link(@site_config.short_agent_marquee, html: {target: '_blank'})