.row
  .col-md-6.col-md-offset-1
    = bootstrap_form_for(@withdraw, url: withdraw_cashouts_path, method: :post) do |f|
      %legend= t('.title')
      -# = f.text_field :username, data: {autocomplete: autocomplete_user_username_withdraw_deposits_path, 'update-elements'=> '{}'}, required: true
      .form-group
        = label_tag t('.lobby_id')
        = text_field_tag :id, @id || '', html: {required: true}, class: 'form-control'
        - if @withdraw.errors.messages.include?(:user)
          .font-danger
            = t('flash.lobby_id.invalid')
      = f.select :type, options_for_select(Withdraw.all_cashout_types), required: true
      = f.number_field :credit, required: true, step: '0.01'
      / # = f.number_field :credit_diff, label: t('.credit_diff'), required: true, step: '0.01'
      = f.text_area :note
      = f.text_area :admin_note
      = f.form_group do
        = f.submit t('btn.confirm'), class: 'btn btn-danger'
      .push-s
  = render 'common/autocomplete_user_info'