.row
  .col-md-8.col-md-offset-2
    %h3= t('.title')
    %ul.list-group
      %li.list-group-item
        %strong= t('.user')
        = link_to(@withdraw.user.title, @withdraw.user, class: 'font-gary')
      / %li.list-group-item
      /   %strong= Withdraw.human_attribute_name(:type_cd)
      /   .label.label-danger= @withdraw.human_type
      %li.list-group-item
        %strong= t('.credit')
        %strong.font-success= default_currency(@withdraw.credit)
      / %li.list-group-item
      /   %strong= t('.credit_diff')
      /   %strong.font-success= default_currency(@withdraw.credit_diff)
      %li.list-group-item
        %strong= t('.credit_actual')
        %strong.font-success= default_currency(@withdraw.credit_actual)
      %li.list-group-item
        %strong= Withdraw.human_attribute_name(:created_at)
        %strong.font-success= default_log_time(@withdraw.created_at)
      - if @tx_id[0] && @tx_id[0].transaction_hash.present?
        %li.list-group-item
          %strong= WalletLog.human_attribute_name(:transaction_hash)
          %strong.font-success= @tx_id[0].transaction_hash
      - else
        %li.list-group-item
          %strong= WalletLog.human_attribute_name(:transaction_hash)           
      %li.list-group-item
        %strong= Withdraw.human_attribute_name(:note)
        = @withdraw.note
    - if @withdraw.bank_id.present?
      %h3= t('.title_account')
      %ul.list-group
        %li.list-group-item
          %strong= BankAccount.human_attribute_name(:bank_id)
          = t("bank_accounts.bank_title.#{@withdraw.bank_id}")
        %li.list-group-item
          %strong= BankAccount.human_attribute_name(:city)
          = @withdraw.city
        %li.list-group-item
          %strong= BankAccount.human_attribute_name(:province)
          = @withdraw.province
        %li.list-group-item
          %strong= BankAccount.human_attribute_name(:subbranch)
          = @withdraw.subbranch
        %li.list-group-item
          %strong= BankAccount.human_attribute_name(:account)
          = @withdraw.account
