= t('.refund_html', agent: link_to(activity.trackable.system_id, activity.trackable, class: 'font-gary'), points: activity.parameters[:points])
- if activity.parameters[:agent_withdraw_id].present?
  \-
  = link_to(t('.refund_link'), withdraw_agent_withdraw_path(id: activity.parameters[:agent_withdraw_id]), class: 'font-gary')