.row
  .col-md-10
    = bootstrap_form_for([:system, @hot_game], layout: :horizontal, label_col: 'col-md-3', control_col: 'col-md-9') do |f|
      
      = f.collection_select :game1_id, @option, :id , :code, include_blank: true
      = f.collection_select :game2_id, @option, :id , :code, include_blank: true
      = f.collection_select :game3_id, @option, :id , :code, include_blank: true
      = f.collection_select :game4_id, @option, :id , :code, include_blank: true
      = f.collection_select :game5_id, @option, :id , :code, include_blank: true
      = f.collection_select :game6_id, @option, :id , :code, include_blank: true
      = f.collection_select :game7_id, @option, :id , :code, include_blank: true
      = f.collection_select :game8_id, @option, :id , :code, include_blank: true
      = f.collection_select :game9_id, @option, :id , :code, include_blank: true
      = f.collection_select :game10_id, @option, :id , :code, include_blank: true

      -# = f.collection_select method, collection, value_method, text_method, {}
      = f.submit t('btn.save'), class: 'btn btn-default pull-right'
      