= form_tag('', class: 'form-inline form-date form-date-range-noform pull-left push-right-xs search-form', method: :get) do |f|
  .form-group
    = label_tag t('.owner')
    = text_field_tag :owner, @owner, name: 'search[owner]', class: 'form-control'
    = label_tag t('.trackable')
    = text_field_tag :trackable, @trackable, name: 'search[trackable]', class: 'form-control'
    = label_tag t('.action')
    = select_tag :action, options_for_select(t('.actions').invert, @action), name: 'search[action]', class: 'form-control'
    -# = select_tag :action, options_for_select(['', 'login', 'create', 'logout', 'update', 'news', 'lock', 'unlock', 'withdraw', 'apply_cashout', 'apply_deposit', 'apply_withdraw', 'auto_deposit', 'cashout', 'deposit', 'transfer_credit', 'update_bank', 'cal_cumulative_credits'], @action), name: 'search[action]', class: 'form-control'
    .push-xs
    = label_tag t('.ip')
    = text_field_tag :ip, @ip, name: 'search[ip]', class: 'form-control'
    = label_tag t('.date')
    = text_field_tag :date, @date, name: 'search[date]', class: 'form-control date-picker'
    = submit_tag t('.search'), class: 'btn btn-success pull-right'
    = button_tag t('.reset'), type: :reset, name: 'reset', class: 'btn btn-default pull-right'