= link_to(t('.new'), new_product_path, class: 'btn btn-default pull-right')
.clearfix
.push-xs
.table-responsive{data: {pattern: "priority-columns"}}
  %table.table.table-valign-middle
    %thead
      %tr.success
        %th= t('.name')
        %th= t('.sku')
        %th= t('.cash')
        %th= t('.credit')
        %th.center= t('.disable')
        %th.right{width: 60}= t('.time')
        %th
    %tbody
      - if @products.empty?
        %tr
          %td{colspan: 6}= t('shared.no_data')
      - @products.each do |product|
        %tr
          %td= link_to(product.name, edit_product_path(product), class: 'font-gary')
          %td= product.sku
          %td= product.cash
          %td= product.credit
          %td.center
            - if product.disable?
              .font-danger.fa.fa-times
            - else
              .fa.fa-check
          %td.right= default_log_time(product.created_at)
          %td.right
            - if product.disable?
              = link_to(t('.enable'), product_disables_path(product), method: :delete, class: 'btn btn-xs')
            - else
              = link_to(t('.disabled'), product_disables_path(product), method: :post, class: 'btn btn-xs')
            = link_to(t('.delete'), product_path(product), method: :delete, class: 'btn btn-xs')
= will_paginate(@products)