-# %h3.center.visible-xs.visible-sm
-#   %span.label.label-primary= t('.childrens')
-# .table-rwd
-#   %table.table.table-bordered.table-style
-#     %thead
-#       %tr.success
-#         %th= t('.lobby_id')
-#         %th= t('.dc_deposit')
-#         %th= t('.dc_cashout')
-#         %th= t('.deposit')
-#         %th= t('.cashout')
-#         %th= t('.extra_deposit')
-#     %tbody
-#       - @withdraw_stats.player_report.each do |user_id, withdraw| 
-#         %tr
-#           - lobby_id = User.id_to_lobby_id(user_id)
-#           %td{data: {th: t('.user')}}= lobby_id
-#           %td.right{data: {th: t('.dc_deposit')}}
-#             = raw dc_info_html(withdraw.dc_deposit, @withdraw_stats.currencies, type: :dc_deposit, lobby_id: lobby_id, begin_date: params[:begin_date], end_date: params[:end_date])
-#           %td.right{data: {th: t('.dc_cashout')}}
-#             = raw dc_info_html(withdraw.dc_cashout, @withdraw_stats.currencies, type: :dc_cashout, lobby_id: lobby_id, begin_date: params[:begin_date], end_date: params[:end_date])
-#           %td.right{data: {th: t('.deposit')}}= link_to(currency_format(withdraw.deposit), details_reports_users_path(type: :deposit, lobby_id: lobby_id, begin_date: params[:begin_date], end_date: params[:end_date]))
-#           %td.right{data: {th: t('.cashout')}}= link_to(currency_format(withdraw.cashout), details_reports_users_path(type: :cashout, lobby_id: lobby_id, begin_date: params[:begin_date], end_date: params[:end_date]))
-#           %td.right{data: {th: t('.extra_deposit')}}= link_to(currency_format(withdraw.extra_deposit), details_reports_users_path(type: :dc_piece_deposit, lobby_id: lobby_id, begin_date: params[:begin_date], end_date: params[:end_date]))
-#     %tfoot
-#       %tr
-#         %td{data: {th: t('.total')}}= t('.total')
-#         %td.right{data: {th: t('.dc_deposit')}}= link_to(currency_format(@withdraw_stats.children_sum.total_dc_deposit), details_reports_users_path(type: :dc_deposit, agent_id: @agent.id, begin_date: params[:begin_date], end_date: params[:end_date]))
-#         %td.right{data: {th: t('.dc_cashout')}}= link_to(currency_format(@withdraw_stats.children_sum.total_dc_cashout), details_reports_users_path(type: :dc_cashout, agent_id: @agent.id, begin_date: params[:begin_date], end_date: params[:end_date]))
-#         %td.right{data: {th: t('.deposit')}}= link_to(currency_format(@withdraw_stats.children_sum.deposit), details_reports_users_path(type: :deposit, agent_id: @agent.id, begin_date: params[:begin_date], end_date: params[:end_date]))
-#         %td.right{data: {th: t('.cashout')}}= link_to(currency_format(@withdraw_stats.children_sum.cashout), details_reports_users_path(type: :cashout, agent_id: @agent.id, begin_date: params[:begin_date], end_date: params[:end_date]))
-#         %td.right{data: {th: t('.extra_deposit')}}= link_to(currency_format(@withdraw_stats.children_sum.total_extra_deposit), details_reports_users_path(type: :dc_piece_deposit, agent_id: @agent.id, begin_date: params[:begin_date], end_date: params[:end_date]))