= render 'game/setting_menu'
.table-responsive{data: {pattern: "priority-columns"}}
  %table.table.table-bordered.table-hover.table-valign-middle.table-font-sm
    %thead
      %tr.warning
        %th{rowspan: 2, width: 40} #
        %th{rowspan: 2, width: 130}= t('.model_name')
        %th.center{rowspan: 2}= t('.win_speed')
        - SlotMachine::CYCLE_SIZES.each do |size|
          %th.center{colspan: 3}= t('.cycle', size: size)
        %th.center{rowspan: 2, width: 60}= t('.operate')
      %tr.warning
        - SlotMachine::CYCLE_SIZES.each do |size|
          %th.right= t('.lose_rate')
          %th.right= t('.lose_trigger_amount')
          %th.right= t('.max_mutiple')
    %tbody
      - @racing_games.each do |racing_game|
        - cache [racing_game, I18n.locale] do
          %tr
            %td= racing_game.id
            %td= racing_game.game_model_name
            %td.right= "#{racing_game.win_speed}%"
            - SlotMachine::CYCLE_SIZES.each do |size|
              %td.right= "#{racing_game["lose_rate_#{size}"] * 100}%"
              %td.right= racing_game["lose_trigger_amount_#{size}"]
              %td.right= racing_game["max_mutiple_#{size}"]
            %td.center= link_to(t('btn.edit'), edit_game_racing_game_path(racing_game), class: 'btn btn-default btn-xs')
