%ul#hot_menu.navbar-nav.pull-right
  %li
    = link_to(withdraws_path(type: 'deposit')) do
      %span.label.label-primary
        存
        - cache pending_deposits_count do
          = pending_deposits_count
  %li
    = link_to(withdraws_path(type: 'cashout')) do
      %span.label.label-primary
        取
        - cache pending_cashouts_count do
          = pending_cashouts_count
  %li
    = link_to(users_path(status: 'nuw_user')) do
      %span.label.label-primary
        會
        - cache new_users_count do
          = new_users_count